BDEPEND=app-alternatives/ninja >=dev-build/cmake-3.31.9-r1 designer? ( dev-qt/qttools:6[designer] ) dev-libs/libpcre2:* >=kde-frameworks/extra-cmake-modules-6.20:*
DEFINED_PHASES=compile configure info install nofetch prepare test unpack
DEPEND=>=dev-qt/qtbase-6.8.1:6[dbus,gui,widgets] =kde-frameworks/kcodecs-6.20*:6 =kde-frameworks/kcolorscheme-6.20*:6 =kde-frameworks/kconfig-6.20*:6 =kde-frameworks/kcoreaddons-6.20*:6 =kde-frameworks/kguiaddons-6.20*:6 =kde-frameworks/ki18n-6.20*:6 =kde-frameworks/kwidgetsaddons-6.20*:6 test? ( =kde-frameworks/kconfig-6.20*:6[dbus] ) dev-qt/qtbase:6
DESCRIPTION=Framework providing an assortment of configuration-related widgets
EAPI=8
HOMEPAGE=https://develop.kde.org/products/frameworks/
INHERIT=ecm frameworks.kde.org
IUSE=debug designer test
KEYWORDS=~amd64 ~arm64 ~loong ~ppc64 ~riscv ~x86
LICENSE=LGPL-2+
RDEPEND=>=dev-qt/qtbase-6.8.1:6[dbus,gui,widgets] =kde-frameworks/kcodecs-6.20*:6 =kde-frameworks/kcolorscheme-6.20*:6 =kde-frameworks/kconfig-6.20*:6 =kde-frameworks/kcoreaddons-6.20*:6 =kde-frameworks/kguiaddons-6.20*:6 =kde-frameworks/ki18n-6.20*:6 =kde-frameworks/kwidgetsaddons-6.20*:6 >=kde-frameworks/kf-env-6 dev-qt/qtbase:6
RESTRICT=!test? ( test ) fetch fetch
SLOT=6/6.20
SRC_URI=mirror://kde/stable/frameworks/6.20/kconfigwidgets-6.20.0.tar.xz
_eclasses_=toolchain-funcs	98d9f464d912ae6b7316fb8a3721f5db	flag-o-matic	a7afe42e95fb46ce9691605acfb24672	multiprocessing	1e32df7deee68372153dca65f4a7c21f	ninja-utils	2df4e452cea39a9ec8fb543ce059f8d6	xdg-utils	42869b3c8d86a70ef3cf75165a395e09	cmake	483911658fc27b88d70444fdd071ff2d	virtualx	9741d451eb64ea8bb9faee90d68a9b68	ecm	fb649a261e7c12bd8e2e7135ee53b6e6	kde.org	80b28d5fdf328cc9f15789c5b346bdec	frameworks.kde.org	a1cb9558e60e0a5b8c513d8c12d0ff10
_md5_=955fbd9e57efa6bfaf226e698c70063e
